body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
}

#wrapper {
	height: 100%;
	position: relative;
}

main {
	margin: 0;
	padding: 0px 0px 100px 0px;
	min-height: 100%;
	width: 100%;
}

header {
	margin: auto;
	min-width: 800px;
	max-width: 1600px;
	color: black;
	position: fixed;
	z-index: 1;
}

header div h1 a {
	color: black;
	text-decoration: none;
	vertical-align: middle;
}

header div hr {
	border-top: 1px solid black;
	border-bottom: none;
}

nav {
	margin: 0px;
}

#main-nav-list {
	margin: 0px;
}

#main-nav-list li a {
	color: black;
	text-decoration: none;
	margin: 5px 5px 5px 5px;
}

a:hover,
a:active {
	font-weight: bold;
	border-bottom: 1px solid black;
}

footer {
	position: absolute;
	width: 100%;
	height: 100px;
	bottom: 0;
	background-color: white;
}

h1 {
	font-family: "Raleway";
	margin: 15px 0px 0px 0px;
}
h2, h3 {
	font-family: "Raleway";
}

p {
	font-family: "Oxygen";
	margin: 5px 0px 15px 0px;
}

span {
	font-family: "Oxygen";
}

summary {
	font-family: "Oxygen";
}

a {
	font-family: "Oxygen";
	text-decoration: none;
	text-align: center;
}

ul {
	font-family: "Oxygen";
	list-style-type: none;
	padding: 0px;
}

hr {
	margin: 0;
}

img {
	display: table;
	margin: 0px;
	width: 100%;
}

hr {
	clear: both;
}

label {
	font-family: "Oxygen";
}

textarea {
	resize: none;
}

.center {
	display: table;
	margin: auto;
}

.horizontal-li {
	display: inline;
}

.center-block {
	display: table;
	width: 50%;
	margin: auto;
	position: relative;
	top: 50%;
}

.center-text-wrapper {
	text-align: center;
}

.footer-text-small {
	font-size: 80%;
	color: #9E9E9E;
}

.row {
	height: auto;
	margin: auto;
	min-width: 800px;
	max-width: 1600px;
}

.form-inputs-container {
	margin: auto;
	text-align: center;
}

.form-input-wrapper {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

.form-submit-wrapper {
	margin-top: 10px;
	margin-bottom: 10px;
}

.social-icon {
	float: left;
	overflow: hidden;
	width: 30px;
	margin: 5px;
}

#title {
	display: block;
	width: 200px;
	text-align: center;
}

#title-block {
	display: table;
	padding-left: 20px;
}

#pleaseLikeMeContainer {
	background-color: #82BFFE;
	padding-top: 52px;
}

#pleaseLikeMeContainer aside {
	margin: 10px;
}

#pleaseLikeMeContainer a {
	color: #FDE016;
	border-color: #FDE016;
}

#pleaseLikeMe-img-wrapper {
	float: left;
	overflow: hidden;
	width: 70%;
}

#pleaseLikeMeImg {
	bottom: 0;
}

#pleaseLikeMe-text-wrapper {
	display: inline-block;
	width: 30%;
	height: 100%;
}

#aboutContainer {
	background-color: white;
	background: linear-gradient(to right bottom, white 60%, #FDE016 40%);
	padding: 30px;
}

#signupContainer {
	background-color: #BDBDBD;
	background: linear-gradient(to right bottom, #E0E0E0, #BDBDBD);
}

#season1Container {
	width: 100%;
	background-color: #F6A199;
}

#season2Container {
	width: 100%;
	background-color: #C8E4E5;
}

#season3Container {
	width: 100%;
	background-color: #FFF79A;
}

.purchaseHeading {
	margin-bottom: 8px;
}

.shopForm {
	margin-top: 15px;
	margin-bottom: 15px;
}

.shopInputWrapper {
	margin: 8px 0px 0px 10px;
}

.shopInputLabel {
	display: inline-block;
	min-width: 68px;
	width: 15%;
}

.season-block {
	width: 70%;
}

.season-block hr {
	border-top: 1px solid black;
	border-bottom: none;
}

.seasonCover-img-wrapper {
	float: left;
	width: 40%;
	max-width: 340px;
}

.seasonCover-text-wrapper {
	display: table;
	width: 60%;
}

.seasonDescription {
	margin-bottom: 0px;
}

.itunesBadge {
	display: inline;
	width: 100px;
}

.googlePlayBadge {
	display: inline;
	width: 115px;
}

.onlineStoreLink:hover,
.onlineStoreLink:active {
	font-weight: normal;
	border-bottom: none;
}

#footer-social {
	margin-top: 5px;
	margin-bottom: 5px;
}

#footer-social ul {
	padding: 0;
}

#contact-form-container {
	min-height: 100%;
	background-color: white;
	background: linear-gradient(to right bottom, #FDE016 40%, #E0E0E0 40%);
}

#contact-heading {
	margin-top: 30px;
}

#contact-form {
	display: table;
	margin: auto;
	padding-top: 20px;
	padding-bottom: 40px;
}

.contact-form-input-wrapper {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}

.contact-form-input-wrapper label {
	display: inline-block;
	margin: auto;
	min-width: 180px;
	width: 30%;
}

.contact-form-input-wrapper input {
	height: 20px;
}

.contact-form-input-wrapper .form-input {
	width: 60%;
	vertical-align: middle;
}

#contact-form-submit-wrapper {
	margin-top: 15px;
}

#flexibilityWrapper {
	display: inline-block;
	width: 60%;
}

#eventFlexibility {
	width: 100%;
}
